<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xj.groupbuy.mapper.CommunityMapper">

    <select id="getTable" resultType="map">
        select
            p.province_code as `provinceCode`,
            p.`name` as `provinceName`,
            ci.city_code as `cityCode`,
            ci.`name` as `cityName`,
            a.area_code as `areaCode`,
            a.`name` as `areaName`,
            s.street_code as `streetCode`,
            s.`name` as `streetName`,
            co.`name` as `communityName`,
            co.`detail_location` as `detailLocation`,
            co.`id` as `id`
        from 
             `community` co
                 left join `street` s on s.`street_code` = co.`street_code`
                 left join `area` a on a.`area_code` = s.`area_code`
                 left join `city` ci on ci.`city_code` = a.`city_code`
                 left join `province` p on p.`province_code` = ci.`province_code`
        where 1 = 1
        <choose>
            <when test="streetCode != null">
                AND s.`street_code` = #{streetCode}
            </when>
            <when test="areaCode != null">
                AND a.`area_code` = #{areaCode}
            </when>
            <when test="cityCode != null">
                AND ci.`city_code` = #{cityCode}
            </when>
            <when test="provinceCode != null">
                AND p.`province_code` = #{provinceCode}
            </when>
        </choose>
        order by co.`id`
    </select>
    
    <select id="getParentLevelId" resultType="map">
        select
            p.province_code as `provinceCode`,
            ci.city_code as `cityCode`,
            a.area_code as `areaCode`,
            s.street_code as `streetCode`,
            co.`id` as `id`
        from
            `community` co
                left join `street` s on s.`street_code` = co.`street_code`
                left join `area` a on a.`area_code` = s.`area_code`
                left join `city` ci on ci.`city_code` = a.`city_code`
                left join `province` p on p.`province_code` = ci.`province_code`
        where co.`id` = #{id}
    </select>

    <select id="getParentLevelName" resultType="map">
        select
            p.name as `provinceName`,
            ci.name as `cityName`,
            a.name as `areaName`,
            s.name as `streetName`,
            co.`id` as `id`
        from
            `community` co
                left join `street` s on s.`street_code` = co.`street_code`
                left join `area` a on a.`area_code` = s.`area_code`
                left join `city` ci on ci.`city_code` = a.`city_code`
                left join `province` p on p.`province_code` = ci.`province_code`
        where co.`id` = #{id}
    </select>
</mapper>
