<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xj.groupbuy.mapper.GoodsEvaluateMapper">

    <select id="getGoodsEvaluate" resultType="map">
        select
            ge.id as id,
            ge.level as level,
            ge.user_note as userNote,
            ge.store_note as storeNote,
            ge.create_time as createTime,
            ge.update_time as updateTime
        from
            `goods_evaluate` ge
                left join `order_item` oi on ge.`order_item_id` = oi.`id`
        where oi.`goods_id` = #{goodsId}
    </select>
</mapper>
