<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xj.groupbuy.mapper.LoginMapper">
    
    <select id="checkLogin" resultType="string">
        select pl.`username`
        from persistent_logins pl 
        where pl.`token` = #{token}
    </select>
</mapper>
