<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xj.groupbuy.mapper.OrderMapper">

    <select id="getTable" resultType="map">
        select 
               o.`id` as `id`,
               u.`name` as `storeName`,
               o.`create_time` as `createTime`,
               o.`goods_price` as `goodsPrice`,
               o.`pay_price` as `payPrice`,
               (case 
                   when o.`order_status` = '0' then '等待到款'
                   when o.`order_status` = '1' then '等待预售商品到货'
                   when o.`order_status` = '2' then '正在配货'
                   when o.`order_status` = '3' then '等待移仓'
                   when o.`order_status` = '4' then '正在移仓'
                   when o.`order_status` = '5' then '已配货'
                   when o.`order_status` = '6' then '已发货'
                   when o.`order_status` = '7' then '已送达'
                   when o.`order_status` = '8' then '交易成功'
                   when o.`order_status` = '9' then '交易未成功'
                   when o.`order_status` = '10' then '订单取消'
                   else '' end) as `orderStatus`
        from `order` o
            left join `user` u on o.store_id = u.user_id
        where o.store_id != 0
            and o.user_id = #{userId}
        order by o.create_time asc
    </select>
    
    <select id="getStoreOrderTable" resultType="map">
        select
            o.`id` as `id`,
            o.`create_time` as `createTime`,
            o.`goods_price` as `goodsPrice`,
            o.`pay_price` as `payPrice`,
            o.`consignee` as `consignee`,
            o.`address` as `address`,
            o.`phone` as `phone`,
            o.`user_note` as `userNote`,
            (case
                 when o.`order_status` = '0' then '等待到款'
                 when o.`order_status` = '1' then '等待预售商品到货'
                 when o.`order_status` = '2' then '正在配货'
                 when o.`order_status` = '3' then '等待移仓'
                 when o.`order_status` = '4' then '正在移仓'
                 when o.`order_status` = '5' then '已配货'
                 when o.`order_status` = '6' then '已发货'
                 when o.`order_status` = '7' then '已送达'
                 when o.`order_status` = '8' then '交易成功'
                 when o.`order_status` = '9' then '交易未成功'
                 when o.`order_status` = '10' then '订单取消'
                 else '' end) as `orderStatus`
        from `order` o
                 left join `user` u on o.store_id = u.user_id
        where u.`user_id` = #{storeId}
        order by o.create_time asc
    </select>
</mapper>
