<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xj.groupbuy.mapper.RegionMapper">
    
    <select id="getAllProvinces" resultType="map">
        select
            province_code as `value`,
            `name` as `label`
        from `province`
        order by province_code asc
    </select>
    
    <select id="getCitysByProvinceCode" resultType="map">
        select
            city_code as `value`,
            `name` as `label`
        from `city`
        where province_code = #{privinceCode}
        order by city_code asc
    </select>
    
    <select id="getAreasByCityCode" resultType="map">
        select
            area_code as `value`,
            `name` as `label`
        from `area`
        where city_code = #{cityCode}
        order by area_code asc
    </select>
    
    <select id="getStreetsByAreaCode" resultType="map">
        select
            street_code as `value`,
            `name` as `label`
        from `street`
        where area_code = #{areaCode}
        order by street_code asc
    </select>
    
    <select id="getCommunityByStreetCode" resultType="map">
        select
            `id` as `value`,
            `name` as `label`,
            `detail_location` as `detailLocation`
        from `community`
        where street_code = #{streetCode}
        order by id asc
    </select>
</mapper>
