<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xj.groupbuy.mapper.StaffTrainMapper">

    <resultMap id="BaseResultMap" type="com.xj.groupbuy.entity.StaffTrain">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="train_name" property="trainName" jdbcType="VARCHAR"/>
        <result column="train_content" property="trainContent" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="TrainWithFiles" type="com.xj.groupbuy.entity.StaffTrain" extends="BaseResultMap">
        <collection property="files" ofType="com.xj.groupbuy.entity.TrainFile">
            <id column="fid" property="id"/>
            <result column="train_id" property="trainId"/>
            <result column="file_path" property="filePath"/>
        </collection>
    </resultMap>

    <select id="getStaffTrainDetail" resultMap="TrainWithFiles">
        select
        st.id,
        st.train_name,
        st.train_content,
        st.create_time,
        st.create_user_id,
        tf.`id` as fid,
        tf.`train_id`,
        tf.`file_path`
        from `staff_train` st
        left join `train_file` tf on st.`id` = tf.`train_id`
        where 1 = 1
        <if test="trainId!=null">
            and st.`id` = #{trainId}
        </if>
        order by st.`id`
    </select>
    
</mapper>
